{{!-- header --}}

<header class="header">
    {{#with header}}
    <div class="header_top">
        <div>
            {{> logoDark data=brandName}}
        </div>
        <nav class="header_nav">
            <div class="header_nav_right">{{> nav list=links}}</div>
        </nav>
    </div>
    {{#with ad}}
    <div class="header_bottom">
        <div class="header_bottom_right">
            <div class="header_bottom_logo">
                <span class="header_bottom_logo_badge">ad</span>
            </div>
            <div class="header_bottom_ad">{{text}} {{url}}</div>
        </div>
        <div class="header_bottom_useronline">Users online: {{../userOnline}}</div>
    </div>
    {{/with}}
    {{/with}}
</header>

{{!-- header end --}}

{{!-- main --}}

<main class="main">

    {{!-- hero --}}
    {{#with hero}}
    <div class="hero">
        <h2 class="hero_title">{{title}}</h2>
        <p class="hero_decs">{{description}}</p>
        <a href="{{button.url}}" class="hero_button">{{button.text}}</a>
    </div>
    {{/with}}
    {{!-- hero end --}}

    {{!-- about --}}
    {{#with about}}
    <div class="about">
        <h3 class="about_title">{{heading}}</h3>
        <p class="about_info">{{info}}</p>
    </div>
    {{/with}}
    {{!-- about end --}}

    {{!-- articles --}}
    <div class="articles">
        <div class="articles_top">
            <div class="articles_title">Our Articles</div>
            <div class="articles_button"><a href="#">View All</a></div>
        </div>

        <div class="articles_cards">
            {{#each articles}}
            <div class="articles_card" id="articles_card_{{id}}">
                <img src="{{photo}}" alt="{{name}}" class="articles_card_photo">
                <h3 class="articles_card_name">{{name}}</h3>
                <div class="articles_card_description">{{description}}</div>
                <button class="articles_card_button">Read All</button>
            </div>
            {{/each}}
        </div>
    </div>
    {{!-- articles end --}}

</main>

{{!-- main end --}}

{{!-- footer --}}

<footer class="footer">
    {{#with footer}}
    <div class="footer_pages">
        {{#each pages}}
        <a href="{{path}}" class="footer_page">{{name}}</a>
        {{/each}}
    </div>
    <div class="footer_copyright">{{copyright}}</div>
    {{/with}}
</footer>

{{!-- footer end --}}